@model IEnumerable<ExpenseTrackerSystem.Models.Expense>

@{
    ViewBag.Title = "Expense Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Expense Sheet</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
    <span class="pull-right">
        <a href=@Url.Action("Reports") class="btn btn-success" data-toggle="modal" data-target="#myReportModal">Reports</a>
    </span>

    <div id="myReportModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div style="float:right; width:40%;">
        @*<form asp-controller="Expense" asp-action="Index" class="form-group">*@
            <div class="col-sm-6">
                <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" name="SearchString" placeholder="Search">
            </div>
            
        @*</form>*@
    </div>
</p>

<table class="table" id="myTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts
{
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }
    </script>
}
